<div style="text-align: center;">
<h1>Viewing Party Lite</h1>
<%= button_to "Sign In", login_path, method: :get %>
<%= button_to "Register", register_path, method: :get %>
</div>

<h2 style="text-align: center;">
  Existing Users:</h2>
<h3 style="text-align: center;">
<% @users.each do |user| %>
  <%= link_to user.name, user_path(user) %>
<% end %>
</h3>


